body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-style: solid;
  
}
td , tr{
  border: 1px solid black;
  padding: 0.2em;
  min-width: 200px;
  text-align: center;

}
.weather-icons{
  color: rgb(0, 163, 139);
  font-size: 25px;
}
